.h1-title {
    color: #000;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

.card-group-container {
    box-shadow: 1px 0px 2px #000;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.card-group {
    margin-top: 10px;
    background-color: #1F2738;
}

.card-pilots {
    background-color: #EEEEEE;
    box-shadow: 4px 8px 18px #000;
    border-radius: 6px;
    transition-duration: 0.2s;
    border-width: 3px;
}

.card-pilots:hover {
    box-shadow: 5px 9px 30px #000;
    border-color: #F56F36;
    border-radius: 5px;
}

.card-img {
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
}

.h1-card-title {
    color: #000;
    font-size: 35px;
    background: linear-gradient(to right, #F56F36 35%, #EEEEEE 76%);
    border-radius: 5px;
}

h4 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    padding-left: 3px;
}

.card-text-container {
    box-shadow: 1px 0px 10px #000;
    padding: 2px;
    border-width: 4px;
    border-radius: 5px;
    border-color: aqua;
}

.pilots-page-container {
    box-shadow: 4px 8px 18px #000;
    padding: 25px;
}

@media screen and (max-width:768px) {
    .card-group {
        width: 50%;
    }
}